.heading{
    width:100%;
    text-align:left;
}

.heading h3{
    display:inline;
}

.heading button{
    float:right;
    border:1px solid white;
}

.big_image{
    width:100%;
}

#start, #status{
    font-size:22px;
}

.scroll_top{
    border-radius: 100px;
    font-size: 25px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.scroll_top span{
    margin-top: 5px;
}